body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Tahoma, sans-serif;
    flex-wrap: wrap;
}

.header-section {
    background: #1f2937;
    height: 640px;
    display: flex;
    flex-direction: column;
    padding: 0 256px;
    padding-top: 32px;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex: 1; */
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 120px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 50px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    gap: 10px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    /* padding: 10px 0; */
}

.description {
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

button.header-sign-up {
    height: 40px;
    width: 150px;
    flex: 1 1 auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
} 

.placeholder-image {
    flex: 1;
    height: 250px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}